@use "./variables" as *;

:root[data-theme="light"] {
  --background-color: #{$white};
  --text-color: #{$slate};
  --modal-background: #{$lightWhite};
}

:root[data-theme="dark"] {
  --background-color: #{$darkSlate};
  --text-color: #{$white};
  --modal-background: #{$slate};
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 100vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--background-color);
}
