@use "./variables" as *;

@mixin flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Queries
@mixin mobile {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// ! Font Mixins
@mixin modalLink {
  font-size: 1.75rem;
  position: relative;
  display: inline-block;
  color: $red;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $red;
    transition: width 0.2s ease-in-out;
    z-index: 300;
  }

  &:hover::after {
    width: 100%;
  }
}
