$white: #faf7f2;
$slate: #606060;
$red: #ff6969;
$darkRed: #fc2828;
$hoverRed: #ab6e6e2d;
$hoverDarkRed: #fc2828;
$blue: #69caff;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1440px;
