$white: #faf7f2;
$lightWhite: #fcfaf7;
$slate: #505050;
$darkSlate: #2c2b2b;
$red: #ff6969;
$darkRed: #fc3838;
$hoverRed: #ab6e6e2d;
$hoverDarkRed: #fc28282d;
$blue: #69caff;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1440px;
