.env
node_modules
*.log
.log
build/
.cache/
.eslintcache
dist/


# Frontend specific
client/node_modules/
client/build/
client/.cache/
client/.eslintcache
client/.env
client/coverage/
client/public/*.map

# Backend specific
server/node_modules/
server/dist/
server/.cache/
server/.eslintcache
server/coverage/
server/.env
server/public/*.map

# Docker
docker-compose.override.yml
docker-compose.debug.yml
docker-compose.prod.yml
.dockerignore

.DS_Store # macOS
.vscode/ # VS Code workspace settings
.gitignore
