@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.nav-modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  top: 5.5rem;
  left: -100%;
  background-color: var(--modal-background);
  border-top: 1px solid $red;
  border-right: 1px solid $red;
  border-radius: 0 0.5rem 0 0;
  height: calc(100% - 5.5rem);
  width: 50%;
  min-width: 15rem;
  transition: left 0.2s ease-in-out;
  z-index: 100;
  padding: 2rem 0 2rem 2rem;

  @include mobile {
    padding: 2rem 2.25rem;
    top: 6rem;
    height: calc(100% - 6rem);
  }

  @include tablet {
    padding: 2rem 2.5rem;
    height: calc(100% - 6.5rem);
    top: 6.5rem;
  }

  @include laptop {
    display: none;
  }

  &__open {
    left: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  &__item {
    background-color: transparent;
    width: fit-content;
  }

  &__link {
    background-color: transparent;
    text-decoration: none;
    @include modalLink;
  }

  &__container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5.5rem);
    background-color: transparent;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

    @include mobile {
      height: calc(100% - 6rem);
    }

    @include tablet {
      height: calc(100% - 6.5rem);
    }

    @include laptop {
      display: none;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav-theme {
  background-color: transparent;

  @include mobile {
    display: none;
  }
}
