.settings-gear {
  width: 2.5rem;
  border-radius: 2rem;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #ab6e6e2d;
  }

  &:active {
    transform: scale(0.97);
  }
}
